@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body,
h6,
figure {
  padding: 0px;
  margin: 0px;
  border: 0px;
  display: block;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: aquamarine;
}

.titulo-banner {
  display: block;
  padding: 20px;
  margin: 0;
  width: 100%;
  height: 300px;
  font-family: Kanit, Arial, Helvetica, sans-serif;
  font-size: xx-large;
  text-shadow: 2px 2px 3px #fffc3d;
  background-image: url("../images/design1.jpg");
  background-size: cover;
}

.navegacion {
  display: inline-block;
  position: relative;
  display: flex;
  background-color: blue;
  padding-right: 20px;
  margin: 0;
  width: 120px;
  height calc(100vh - 50px);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.lista-navegacion{

}

/* .link-nav {
  display: block;
  padding: 50px;
} */

.aside-logo {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 280px;
  right: 5%;
  z-index: 1;
  background-color: white;
  border: 2px double black;
}

.img-logo {
  width: 100px;
  height: 100px;
  padding-left: 2px;
}

.seccion-principal {
  display: flex;
}

.titulo-seccion {
  display: block;
  position: absolute;
  width: 100%;
  top: 299px;
  text-align: center;
  background-color: black;
  color: white;
}

.lista-articulos{
  display: flex;
  position: relative;
  top: -300px;
  left: 200px;
  flex-direction: column;
}

.articulo {
  display: inline;
}

.lista-uso-campo{
  list-style-type: lower-latin;
}